<mat-card>
  <h3>Table of Deliveries</h3>
  <table mat-table
         *ngIf="dataSource$ | async as dataSource"
         [dataSource]="dataSource">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>date</th>
      <td mat-cell *matCellDef="let delivery">{{ delivery.date }}</td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>time</th>
      <td mat-cell *matCellDef="let delivery">{{ delivery.startingTime }} - {{delivery.endingTime}}</td>
    </ng-container>

    <ng-container matColumnDef="shiftType">
      <th mat-header-cell *matHeaderCellDef>Shift Type</th>
      <td mat-cell *matCellDef="let delivery">{{ delivery.shiftType }}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
